.largura {
width: 700px;
margin: auto;
}

.menu {
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.menu > a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.menu > a:hover {
  color: blue;
}

h1 {
  padding-bottom: 5px;
  border-bottom: 2px dotted black;
}

.selecionado1:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.selecionado2:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.selecionado3:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.selecionado4:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.selecionado5:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.img-1 {
  float: left;
  width: 25%;
  height: "";
  margin-right: 20px;
  margin-bottom: 20px;
}
