body {
  background-color: #D8D8D8;
}

.largura {
width: 700px;
margin: auto;
}

.menu {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.links-1 {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-family: 'Black Ops One', cursive;
}

a:hover {
  color: red;
}

h1 {
  padding-bottom: 5px;
  border-bottom: 2px dotted black;
  font-family: 'Shojumaru', cursive;
}

.selecionado1:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.selecionado2:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.selecionado3:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.selecionado4:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.selecionado5:visited {
  border-bottom: 1px dotted black;
  color: blue;
}

.img-1 {
  float: left;
  width: 40%;
  height: "";
  margin-right: 20px;
  margin-bottom: 20px;
}

.img-2 {
  width: 50%;
  height: "";
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img-px {
  display: block;
}

.subtitulo-j {
  font-family: 'Press Start 2P', cursive;
}

.paragrafo1 {
  font-family: 'VT323', monospace;
}

.tituloAJ {
  font-family: 'Black Ops One', cursive;
}

.img-p {
  margin-bottom: 50px;
}

.p-t {
  font-size: 30px;
}
