body {
  background-color: #D8D8D8;
}

.largura {
width: 800px;
margin: auto;
}

.menu {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.links-1 {
  font-family: 'Black Ops One', cursive;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
}

h1 {
  padding-bottom: 5px;
  border-bottom: 2px dotted black;
  font-family: 'Shojumaru', cursive;
}

.selecionado1:visited {
  color: blue;
  border-bottom: 1px dotted black;
}

.selecionado2:visited {
  color: blue;
  border-bottom: 1px dotted black;
}

.selecionado3:visited {
  color: blue;
  border-bottom: 1px dotted black;
}

.selecionado4:visited {
  color: blue;
  border-bottom: 1px dotted black;
}

.selecionado5:visited {
  color: blue;
  border-bottom: 1px dotted black;
}

.img-1 {
  float: left;
  width: 40%;
  height: "";
  margin-right: 20px;
  margin-bottom: 20px;
}

.img-2 {
  width: 50%;
  height: "";
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}

.img-px {
  display: block;
}

.subtitulo-j {
  font-family: 'Press Start 2P', cursive;
}

.tituloAJ {
  font-family: 'Black Ops One', cursive;
  margin-bottom: 2px;
  text-align: left;
}

.p-t {
  font-size: 25px;
}

.paragrafo1 {
  font-family: 'VT323', monospace;
  text-align: left;
  margin-bottom: 85px;
}
.paragrafo2 {
  font-family: 'VT323', monospace;
  text-align: left;
  margin-bottom: 100px;
 }
.paragrafo3 {
  font-family: 'VT323', monospace;
  text-align: left;
  margin-bottom: 100px;
}

.paragrafo4 {
  font-family: 'VT323', monospace;
  text-align: left;
  margin-bottom: 90px;
}
.paragrafo5 {
  font-family: 'VT323', monospace;
  text-align: left;
  margin-bottom: 20px;
}

.paragrafoI {
  font-family: 'VT323', monospace;
  margin-bottom: 10px;
}

.corselet:hover {
  color: red;
}
